VersionA
[{"id":"897ad8e7.8ce498","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c364d038.a6095","type":"exec","z":"897ad8e7.8ce498","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":410,"y":940,"wires":[["bc4350c2.bb147"],["bc4350c2.bb147"],["bc4350c2.bb147"]]},{"id":"643f15eb.8ae7ec","type":"inject","z":"897ad8e7.8ce498","name":"","topic":"","payload":"sudo wget https://raw.githubusercontent.com/SET-LTD/hexfiles/master/VersionB -O /home/pi/.node-red/flows_raspberrypi.json","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":940,"wires":[["c364d038.a6095"]]},{"id":"fd14526d.6b69a","type":"inject","z":"897ad8e7.8ce498","name":"VersionA","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":840,"wires":[[]]},{"id":"bc4350c2.bb147","type":"debug","z":"897ad8e7.8ce498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":940,"wires":[]}]
